GHL_TOKEN=pit-xxx
GHL_LOCATION_ID=xxx
NODE_ENV=development
PORT=3940

# Meta Ads (Facebook/Instagram)
META_ACCESS_TOKEN=EAABs...
META_AD_ACCOUNT_ID=act_123456789
META_APP_ID=123456789
META_APP_SECRET=abc123
